#container{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-image: url("/ae3e209e5c9502e136fb238b196a3eb2.jpg");
    
}

.profil{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fcf8e8;
    width: 60%;
    margin-top: 5px;
    border-radius: 10px;
}

.body {
    /* width: 50%; */
    flex-direction: column;
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    border: 1px;
    border-color: #DADADA ;
}

#title{
    margin-right: auto;
}

.trash{
    width: 15px;
    margin-right: 20px ;
    margin-left: 20px;
}

.avatar{
    width: 80px;
    margin-right: 20px ;
    margin-left: 20px;
    border-radius: 50px;
}

input{
    width: 450px;
    margin-right: 5px;
    padding : 6px;
    border-radius: 8px;
}

button{
    border:none;
	padding:6px 0 6px 0;
	border-radius:8px;
	background:#d34836;
	font:bold 13px Arial;
    color:#fff;
    width:50px
}
